<!DOCTYPE html>
<html>
    <head>
        <title>Account Info</title>


        <style>
            table, th, td {
                border: 1px solid black;
            }
        </style>
    </head>

    <body>
        <h1><img src="dbslogo.png" alt="dbslogo"></h1>

        <h1 style="color: white; background-color: red;">Account Info</h1>
        <h2>Account Balance</h2>
        <p>Account Balance: <!--Display account balance--></p>

        <a href="{% url 'transfer'%}">Make a transfer.</a>

        

        <h2>Transaction History</h2>
        <p><!--Display transaction history--></p>

        <table style="width:50%">
            <tr>
                <th>Date</th>
                <th>Payee</th>
                <th>Amount</th>
                <th>Purpose</th>
            </tr>
            <tr>
                <td>1<!--dateTime--></td>
                <td>1<!--payeeID--></td>
                <td>1<!--amount--></td>
                <td>1<!--expensesCat--></td>
            </tr>
            <tr>
                <td>2<!--dateTime--></td>
                <td>2<!--payeeID--></td>
                <td>2<!--amount--></td>
                <td>2<!--expensesCat--></td>
            </tr>
            <tr>
                <td>3<!--dateTime--></td>
                <td>3<!--payeeID--></td>
                <td>3<!--amount--></td>
                <td>3<!--expensesCat--></td>
            </tr>
        </table>
    </body>

    

</html>