<!DOCTYPE html>
<html>

<head>
    <title>Make A Transfer</title>
</head>

<body>
    <h1><img src="dbslogo.png" alt="dbslogo"></h1>

    <p>Time left: <!--time--></p>
    <button type="submit">Log Out</button>

    <h1 style="color: white; background-color: red;">Make A Transfer</h1>

    <button type="submit">Back</button>

    <h2>Transfer limit: <!--Display transfer limit--></h2>

    <form>
        <label for="payeeID">Payee's Account Number:</label><br>
        <input type="number" id="payeeID" name="payeeID"><br>
        <label for="amount">Amount:</label><br>
        <input type="number" id="amount" name="amount"><br>
        <label for="expensesCat">Purpose:</label><br>
        <input type="text" id="expensesCat" name="expensesCat"><br>
        <label for="eGift">eGift:</label><br>
        <input type="checkbox" id="eGift" name="eGift"><br>
        <label for="message">Message to Payee:</label><br>
        <input type="text" id="message" name="message"><br>
        <br>
        <button type="submit">Transfer now</button>
    </form>


</body>

    

</html>