<!DOCTYPE html>
<html>

    <head>
        <title>Transfer Success</title>
    </head>

    <body>
        <h1><img src="dbslogo.png" alt="dbslogo"></h1>

        <p>Time left: <!--time--></p>
        <button type="submit">Log Out</button>

        <h1 style="color: white; background-color: red;">Transfer Success</h1>
        <p>Your transaction to</p>
        <p>Insert Name<!--payeeID--></p>
        <p>was completed on</p>
        <p>Date<!--dateTime-->.</p>

        <button type="submit">Back to Account</button>

    </body>

    

</html>